.container {
  max-width: var(--max-width);
  margin: 0 auto;
  height: calc(100vh - var(--header-height-mobile));
  overflow-y: auto;
}

@media (min-width: 601px) {
  .container {
    height: calc(100vh - var(--header-height-desktop));
  }
}
