.content {
  width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

/* Responsive */
@media (max-width: 600px) {
  .content {
    padding: 24px 20px;
  }
}

@media (min-width: 601px) {
  .content {
    padding: 24px 40px;
  }
}
